streamlit
pandas
numpy
scikit-learn
xgboost
joblib
matplotlib   
seaborn     
xgboost
chromadb
langchain
langchain-community
sentence-transformers
torch
transformers
requests
beautifulsoup4
html5lib
llama-index
ollama
